* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
.header {
    background-color: red;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    align-items: center;
    &__image{
        width: 24px;
    }
}
.nav {
    text-decoration: none;
    &__footer{
        background-color: rebeccapurple;
        text-decoration: none;
        display: flex;
        justify-content: space-between;
        position: absolute;
        right: 0;
    }&__links{
        padding-right: 5px;
    }
}
.footer{
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
}
